<header>
  <h1><a href="{{ include.post.url | relative_url }}">{{ include.post.title }}</a></h1>
  {%- assign date_format = site.date_format | default: "%B %d, %Y" -%}
  <time datetime="{{ include.post.date | date_to_xmlschema }}">{{ include.post.date | date: date_format }}</time>
</header>
<style>
  /* This targets the background, the frame, the header, and footer */
  html, body, .frame, header, footer, .sidebar, .menu {
    background-color: #F0EFEA !important;
  }
  
  /* This forces all text elements to be dark */
  html, body, p, h1, h2, h3, h4, h5, h6, li, span, div, a {
    color: #141413 !important;
  }
</style>
